<div *ngIf="!account" class="text-center my-3">
    <button mat-raised-button color="primary" (click)="connectWallet()">
        {{"Connect to wallet"|translate}}
    </button>
</div>


<div *ngIf="account" >
    <div class="container">
        <div class="row transRow">
            <div class="col col-12">
                <h1 class="text-center">
                    {{"Transections"|translate}}
                </h1>
            </div>
        </div>
    </div>
    <div class="rounded-card container">
        <div class="container">
            
            <div class="row py-2">
                <div class="col col-2">
                    <b>{{"ACTION"|translate}}</b>
                </div>
                <div class="col col-2">
                    <b>{{"TOTAL VALUE"|translate}}</b>
                </div>
                <div class="col col-3">
                    <b>{{"TOKEN"|translate}}1 {{"AMOUNT"|translate}}</b>
                </div>
                <div class="col col-3">
                    <b>{{"TOKEN"|translate}}2 {{"AMOUNT"|translate}}</b>
                </div>
                <div class="col col-2">
                    <b>{{"TIME"|translate}}</b>
                </div>
            </div>
    
            <div class="row  py-2" *ngFor="let transaction of transactions;let i = index">
                <div class="col col-2">
                    {{transaction.name}}
                </div>
                <div class="col col-2">
                    {{transaction.amountUSD}}
                </div>
                <div class="col col-3">
                    {{transaction.amount0}}
                </div>
                <div class="col col-3">
                    {{transaction.amount1}}
                </div>
                <div class="col col-2">
                    {{transaction.time}}
                </div>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" aria-label="Previous" (click)="changePageNumTransaction(pageNumTransaction - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item ">
                <a class="page-link" *ngIf="pageNumTransaction >= 1" (click)="changePageNumTransaction(pageNumTransaction - 1)">
                {{pageNumTransaction}}</a>
            </li>
            <li class="page-item active">
                <a class="page-link" (click)="changePageNumTransaction(pageNumTransaction)">
                {{pageNumTransaction + 1}}
            </a>
            </li>
            <li class="page-item">
                <a class="page-link" *ngIf="pageNumTransaction <= totalPage - 1" (click)="changePageNumTransaction(pageNumTransaction + 1)">
                {{pageNumTransaction + 2}}
            </a>
            </li>
    
            <li class="page-item">
                <a class="page-link" *ngIf="(pageNumTransaction < 1) && (pageNumTransaction <= totalPage - 2)" (click)="changePageNumTransaction(pageNumTransaction + 2)">
                {{pageNumTransaction + 3}}
            </a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next" (click)="changePageNumTransaction(pageNumTransaction + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>