::ng-deep .cdk-overlay-pane {
    width: 320px;
    border-radius: 10px;
}

::ng-deep .mat-dialog-container {
    border-radius: 8px;
}

::ng-deep .mat-dialog-content {
    font-size: small;
}

.tokenlist {
    height: 380px;
}

mat-form-field mat-label {
    font-size: small;
    color: white;
}

.sparater {
    margin: 10px -30px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.search-token-input {
    width: 90%;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #6c6666;
    font-size: small;
}

::ng-deep .mat-form-field-flex {
    padding-left: 15px;
    padding-right: 15px;
}

::ng-deep .mat-input-element {
    caret-color: white;
    font-size: small;
}

.list-button {
    height: 40px;
    width: 100%;
    // line-height: 40px;
    cursor: pointer;
    background-color: #424242;
     :hover {
        height: 30px;
        line-height: 40px;
        background-color: #494949;
    }
    span {
        color: white;
    }
}