<div class="container">
    <div mat-dialog-title>
        <div fxLayout="row" fxLayoutAlign="space-between center" align-center="center">
            <h2>{{"Select a Token"|translate}}</h2>
            <button mat-dialog-close mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>close</mat-icon>
      </button>
        </div>
        <hr class="sparater" />
    </div>

    <div>
        {{"Search"|translate}}
    </div>
    <div fxLayout="row">
        <mat-form-field class="search-token-input">
            <!-- <mat-label>Enter token name</mat-label> -->
            <input matInput name="searchTokenLabel" type="text" [(ngModel)]="searchTokenLabel" (ngModelChange)="searchToken($event)" />
        </mat-form-field>
    </div>

    <div class="tokenlist" mat-dialog-content fxLayout="column" fxLayoutGap="5px">
        <div *ngFor="let token of filteredTokens">
            <button (click)="selectToken(token)" class="list-button">
        <div fxLayout="row" justify-start class="token-list-line" fxLayoutGap="20px">
            <span> <img src='{{token.logoUrl}}' (error)="handleImageError($event)" width="20px"></span>
            <span>
                {{ token.symbol }}
            </span>
        </div>
      </button>
        </div>
    </div>

    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>{{"Close"|translate}}</button>
        </div>
    </div>
</div>