.header-tab-items span {
    width: 8rem;
    border: 1px solid gray;
    padding: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 0.6em;
    cursor: pointer;
    &:hover {
        border-bottom: 2px solid white;
        color: white;
        background-color: #222f3e;
    }
}

.mat-toolbar {
    color: black;
    background-color: #fff;
}

::ng-deep .mat-menu-panel {
    margin-top: 30px;
}

.header-logo {
    width: 160px;
}

@media only screen and (max-width: 2800px) {
    .header-logo {
        width: 180px;
        height: auto;
    }
}

@media only screen and (max-width: 1275px) {
    .header-logo {
        width: 120px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .header-logo {
        width: 112px;
        height: auto;
    }
    .header-tab-items {
        display: none !important;
    }
}