<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="topBar">
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <span routerLink="/">
        <img class="header-logo" src="/assets/images/biswap-256w.png" width="120px" alt="image">
      </span>
    </button>
  </div>

  <div fxHide.md fxHide.lt-md class="header-tab-items" fxLayout="row" fxLayoutGap="12px">
    <span routerLink="/swap">{{'Swap'|translate}}</span>
    <span routerLink="/pool">{{'Liquidity'|translate}}</span>
    <!--
    <span routerLink="/staking">{{'Staking'|translate}}</span>
    <span routerLink="/reward">{{'Rewards'|translate}}</span>
    -->
    <span routerLink="/transactions">{{'Transactions'|translate}}</span>
    <span routerLink="/charts">{{'Info'|translate}}</span>
  </div>
  <!-- <span class="example-spacer"></span> -->

  <div fxLayoutGap="12px" fxLayout="row" class="menuRight">
    <div fxHide.gt-md layout-align="end center">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <button mat-raised-button class="connectBtn" *ngIf="!account" (click)="connectWallet()">
      {{ 'Connect Wallet'| translate }}
    </button>
    <button mat-raised-button color="primary" *ngIf="account" (click)="disConnectWallet()">
      {{ 'Disconnect'|translate }}
    </button>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with share icon">
      {{selectedLan.viewValue}}
    </button>

    <mat-menu class="matMenu" #menu="matMenu">
      <div class="selLan" id="selLan">
        <h3>{{'SelLan' | translate}}</h3>
      </div>
      <hr style="color:white">
      <div class="content">
        <div class="lanitem handcursor" *ngFor="let lan of LANGUAGES" (click)="openClose(lan)">
          {{lan.viewValue}}
        </div>
    
      </div>
    </mat-menu>

<!--
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with share icon">
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu class="matMenu" #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>language</mat-icon>
        <span>Languages</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  -->
  </div>
</mat-toolbar>
