

.header-tab-items span {
    // width: 2rem;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    margin-top: 0.6em;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    &:hover {
        // border-bottom: 2px solid white;
        color: white;
        font-weight: 500;
    }
}

.mat-toolbar {
    // color: black;
    // background-color: #fff;
    color: #eee;
    background-color: #0b0e1c;
    padding: 0px 50px;
}

.lanbtn {
    font-size: medium;
}

.content {
    color: white;;
    font-size: small;
    min-width: 200px;
    padding-left: 4px;
    padding-right: 4px;
}

.selLan {
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}

.lanitem {
    width: 60px;
}

.lanitem:hover {
    background-color: lightgray;
    color: black;
}

::ng-deep .mat-menu-panel {
    margin-top: 30px;
}

.header-logo {
    width: 160px;
}

.connectBtn{
    background: linear-gradient(90deg, #0b2dd5 0%, #6827e1 100%);
}

@media only screen and (max-width: 2800px) {
    .header-logo {
        width: 180px;
        height: auto;
    }
}

@media only screen and (max-width: 1275px) {
    .header-logo {
        width: 120px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .header-logo {
        width: 112px;
        height: auto;
    }
    .header-tab-items {
        display: none !important;
    }
}