.header-tab-items span{
    width: 10rem;
    border: 1px solid gray;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:hover {
        border-bottom: 2px solid white;
        color: white;
        background-color: #222f3e;
    }
}

.mat-toolbar {
    color: #fff;
}

::ng-deep .mat-menu-panel {
    margin-top: 30px;
}

.hedaer-logo {
    height: 40px;
}


@media only screen and (max-width: 600px) {
    .hedaer-logo {
        height: 0px;
    }
    .header-tab-items {
        display: none !important; 
    }
  }

@media only screen and (max-width: 1275px) {
    .hedaer-logo {
        height: 0px;
    }
  }