// .container {
//     background-color: white;
//     color: black;
//     padding-top: 1em;
//     padding-bottom: 1em;
// }

.title1{
    text-align: center;
    padding: 50px 0;
    
    h1{
        font-size: 50px;
    }
}