.rewardbody {
    width: 800px;
    margin: auto;
    padding: 1rem;
}

.title1{
    text-align: center;
    padding: 40px 0;
    
    h1{
        font-size: 50px;
    }
}

@media(max-width: 800px) //if more than 400 px
{
    .rewardbody {
        width: 100%;
    }

    .title1{
        text-align: center;
        padding: 0;
        
        h1{
            font-size: 22px;
        }
    }
}

@media(max-width: 640px) //if more than 400 px
{
    .rewardbody {
        width: 100vw;
        padding: 0;
    }

    .title1{
        text-align: center;
        padding: 0;
        width: 100%;
        
        h1{
            font-size: 18px;
        }
    }
}
