<div class="rounded-card">
    <div class="container">
        <div class="row py-2">
            <div class="titiCol col-md-2">
                <b>#</b>
            </div>
            <div class="titiCol col-md-2">
                <b>{{"Name"|translate}}</b>
            </div>
            <div class="titiCol col-md-2">
                <b>{{"Price"|translate}}</b>
            </div>
            <div class="titiCol col-md-2">
                <b>{{"Price change"|translate}}</b>
            </div>
            <div class="titiCol col-md-2">
                <b>{{"Volume 24h"|translate}}</b>
            </div>
            <div class="titiCol col-md-2">
                <b>{{"Liquidity"|translate}}</b>
            </div>
        </div>

        <div class="row  py-2" *ngFor="let token of tokens;let i = index">
            <div class="titiCol col-md-2">
                {{i+1}}
            </div>
            <div class="titiCol col-md-2">
                <a href="/info/token/{{token._id}}">{{token.name}}</a>
            </div>
            <div class="titiCol col-md-2">
                {{token.summary.priceUSD}}
            </div>
            <div class="titiCol col-md-2">
                {{token.summary.priceChange24h}}
            </div>
            <div class="titiCol col-md-2">
                {{token.summary.dailyVolumeUSD}}
            </div>
            <div class="titiCol col-md-2">
                {{token.totalLiquidity}}
            </div>
        </div>
    </div>
</div>