<div class="rounded-card">
    <div class="container">
        <div class="row py-2">
            <div class="col col-2">
                <b>#</b>
            </div>
            <div class="col col-2">
                <b>Name</b>
            </div>
            <div class="col col-2">
                <b>Price</b>
            </div>
            <div class="col col-2">
                <b>Price change</b>
            </div>
            <div class="col col-2">
                <b>Volume 24h</b>
            </div>
            <div class="col col-2">
                <b>Liquidity</b>
            </div>
        </div>

        <div class="row table-data py-2" *ngFor="let token of tokens;let i = index">
            <div class="col col-2">
                {{i+1}}
            </div>
            <div class="col col-2">
                {{token.name}}
            </div>
            <div class="col col-2">
                {{token.price}}
            </div>
            <div class="col col-2">
                Price change
            </div>
            <div class="col col-2">
                Volume 24h
            </div>
            <div class="col col-2">
                {{token.totalLiquidity}}
            </div>
        </div>
    </div>
</div>