    <div class="container">
        <div class="row pt-2 title">
            <div class="titiCol col-1">
                <b>#</b>
            </div>
            <div class="titiCol col-2">
                <b>{{"Name"|translate}}</b>
            </div>
            <div class="titiCol col-2">
                <b>{{"Price"|translate}}</b>
            </div>
            <div class="titiCol col-2">
                <b>{{"Price change"|translate}}</b>
            </div>
            <div class="titiCol col-2">
                <b>{{"Volume 24h"|translate}}</b>
            </div>
            <div class="titiCol col-3">
                <b>{{"Liquidity"|translate}}</b>
            </div>
        </div>

        <div class="row formrow" *ngFor="let token of tokens;let i = index">
            <div class="titiCol col-1">
                {{i+1}}
            </div>
            <div class="titiCol col-2">
                <a href="/info/token/{{token._id}}">{{token.name}}</a>
            </div>
            <div class="titiCol col-2">
                {{showShortAmount(token.summary.priceUSD)}}
            </div>
            <div class="titiCol col-2">
                {{showShortAmount(token.summary.priceChange24h)}}
            </div>
            <div class="titiCol col-2">
                {{showShortAmount(token.summary.dailyVolumeUSD)}}
            </div>
            <div class="titiCol col-3">
                {{showShortAmount(token.totalLiquidity)}}
            </div>
        </div>
    </div>
