<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="topBar">
  <div class="logo">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <span routerLink="/">
        <img class="header-logo" src="/assets/images/biswap-256w.png" width="30px" alt="image">
      </span>
      <span>V3</span>
    </button>
  </div>

  <div class="header-tab-items d-none d-lg-flex" fxLayout="row" fxLayoutGap="12px">
    <span routerLink="/swap">
      <h4>{{'Swap'|translate}}</h4>
    </span>
    <span routerLink="/pool">{{'Liquidity'|translate}}</span>
    <!--
    <span routerLink="/staking">{{'Staking'|translate}}</span>
    -->
    <span routerLink="/reward">{{'Rewards'|translate}}</span>

    <span routerLink="/transactions">{{'Transactions'|translate}}</span>
    <span routerLink="/charts">{{'Info'|translate}}</span>
  </div>

  <div fxLayoutGap="12px" fxLayout="row" class="menuRight">
    <div class="d-flex d-lg-none" layout-align="end center">
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    @if(!address){
    <button mat-raised-button class="connectBtn" (click)="connectWallet()">
      {{ 'Connect Wallet'| translate }}
    </button>
    } @else {
    <span>{{showAccount()}}</span>
    <button mat-raised-button class="connectBtn" color="primary" (click)="disConnectWallet()">
      {{ 'Disconnect'|translate }}
    </button>
    }
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with share icon">
      {{selectedLan.viewValue}}
    </button>

    <mat-menu class="matMenu" #menu="matMenu">
      <div class="selLan" id="selLan">
        <h3>{{'SelLan' | translate}}</h3>
      </div>
      <hr style="color:white">
      <div class="content">
        @for(lan of LANGUAGES; track lan.value) {
        <div class="lanitem handcursor" (click)="openClose(lan)">
          {{lan.viewValue}}
        </div>
        }
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
