<div class="settingDiv">
    <h2 mat-dialog-title>{{"Settings"|translate}}</h2>
    <div>
        <p>{{"Slippage tolerance"|translate}}(%)</p>
        <div>
            <input type="number" [(ngModel)]="data.slippage" fxFlex="64px" (keyup)="keyUp()" /> %
        </div>
        @if(slippageErr) {
        <div class="warn">
            {{"slippageErrMsg"|translate}}
        </div>
        }
        <br>
        <p>{{"Transaction deadline(minutes)"|translate}}</p>
        <div>
            <input matInput [(ngModel)]="data.deadline">
            <div>
            </div>
            <div mat-dialog-actions class="btns">
                <button mat-button (click)="onNoClick()">{{"Cancel"|translate}}</button>
                <button mat-button [mat-dialog-close]="data" cdkFocusInitial>{{"Save"|translate}}</button>
            </div>
        </div>