.stakeBody {
    min-width: 350px;
    width: 480px;
    margin: auto;
}

.title1 {
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    font-weight: 500;
    color: white;
}

.cardd {
    padding: 1rem;
    border-radius: 12px;
    background-color: #0044aa;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
    margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field label {
    font-size: 40px;
}

.sparater {
    margin: 10px -20px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.emty-liquidity {
    background-color: black;
    padding: 30px;
    margin: 10px -16px 10px;
}

.mat-card-action {
    padding: 10px 10px;

    button {
        width: 100%;
        padding: 5px 5px;
        border-radius: 20px;
    }
}

.action-buttons {
    width: 125px;
    border-radius: 10px;
}

@media screen and (max-width: 640px) {
    .stakeBody {
        width: 100%;
        padding: 0 1rem;
        border: none;
        box-shadow: none;
    }

    .title1 {
        text-align: center;
        padding: 20px 0;
        font-size: 16px;
        color: black;
    }

    .cardd {
        background-color: white;
        color: black;
        box-shadow: none;
        border: none;
    }

    .emty-liquidity {
        background-color: transparent;
        padding: 0;
        margin: 0;
    }

}