<div class="container-fluid">
    <div class="banner text-center">
        <div class="mt-title">
            <h1>EXPLORER NEW SPACE !</h1>
        </div>
        <div class="mt-title2" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="136px">
            <div class="swapcard handcursor" fxLayoutAlign="center center" routerLink="/swap">
                <h1 class="swaptxt">SWAP</h1>
            </div>
            <div class="lpcard handcursor" fxLayoutAlign="center center" routerLink="/pool">
                <h1 class="swaptxt">POOL</h1>
            </div>
        </div>
    </div>
</div>
