.container-fluid {
    padding: 0;
}

.banner {
    padding: 0;
     background: url("/assets/images/biswap-home.jpg");
     background-size: cover;
     background-repeat: no-repeat;
    height: 100vh;
}

.showcard {
    width: 134px;
    height: 72px;
    border-radius: 5px;
}

.showcard:hover {
    border: 3px solid orange;
    // box-shadow: 6px 8px gray;
}

.swapcard {
    background: url("/assets/images/swap.jpg");
}

.lpcard {
    background: url("/assets/images/liquidity.jpg");
}

.swaptxt {
    text-shadow: 3px 3px black;
    border: 1px solid gray;
}

.contentbox {
    max-width: 1280px;
    text-align: left;
    padding: 1em;
}

h1 {
    font-size: 16px;
    font-weight: 500;
}

h2 {
    font-size: 12px;
    font-weight: 300;
}

h3 {
    font-size: 8px;
    font-weight: 20;
}

.mt-title {
    margin-top: 32px;
}

@media(min-width: 400px) //if more than 400 px
{
    h1{
    font-size:28px
  }

  h2{
    font-size:20px
  }

  .mt-title {
    margin-top: 40px;
  }

  .showcard {
    width: 134px;
    height: 72px;
    border-radius: 5px;
    }

    .contentbox {
        width: 392px;
     }
}

@media(min-width: 600px) //if more than 400 px
{
    h1{
    font-size:40px
  }
  h2{
    font-size:20px
}

h3 {
    font-size: 12px;
}

  .mt-title {
    margin-top: 64px;
  }
  .showcard {
    width: 200px;
    height: 108px;
    border-radius: 7px;
  }
  .contentbox {
    width: 580px;
 }
}

@media(min-width: 960px) //if more than 400 px
{
    h1{
    font-size:64px
  }
  h2{
    font-size:32px
}

h3 {
    font-size: 18px;
}

  .mt-title {
    margin-top: 100px;
  }

  .showcard {
    width: 300px;
    height: 160px;
    border-radius: 10px;
  }
  .contentbox {
    width: 800px;
 }
}

@media(min-width: 1280px) //if more than 400 px
{
    h1{
    font-size:86px
  }
  h2{
    font-size:42px
}

h3 {
    font-size: 24px;
}

  .mt-title {
    margin-top: 130px;
  }

  .showcard {
    width: 400px;
    height: 214px;
    border-radius: 14px;
 }
 .contentbox {
    width: 920px;
 }

}

@media(min-width: 1920px)
{
    h1{
        font-size:128px
    }

    h2{
        font-size:64px
    }

    h3 {
        font-size: 36px;
    }

  .mt-title {
    margin-top: 200px;
 }

 .showcard {
    width: 600px;
    height: 320px;
    border-radius: 20px;
 }

 .contentbox {
    width: 1280px;
 }
}