<div class="container-fluid">
    <!-- <div class="banner text-center" fxLayout="column" fxLayoutAligh="center center" >
        <div class="mt-title">
            <h1>{{'EXPLORER NEW SPACE'| translate}} ！</h1>
        </div>

        <div class="mt-title" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
            <div class="showcard swapcard handcursor" fxLayoutAlign="center center" routerLink="/swap">
                <h1 class="swaptxt">{{"SWAP"|translate}}</h1>
            </div>
            <div class="showcard lpcard handcursor" fxLayoutAlign="center center" routerLink="/pool">
                <h1 class="swaptxt">{{"POOL"|translate}}</h1>
            </div>
        </div>

        <div class="mt-title desc">
            <h2>{{"BISWAP PROTOCOL"|translate}}</h2>
        </div>
        <div class="row" fxLayoutAlign="center center">
            <div class="contentbox">
                {{"BiswapProtcl" | translate}}
            </div>
        </div>
    </div> -->
    <section class="container-fluid banner">
        <div class="container">
            <div class="row contentRow">
                <div class="col-md-6">
                    <div class="bannerTxt">
                        <h1 class="title">
                            {{"BISWAP PROTOCOL"|translate}}
                        </h1>
                        
                        <p class="desc">
                            {{"BiswapProtcl" | translate}}
                        </p>
                        <div class="btns">
                            <a href="https://biswap.exchange" class="btn btn-primary btn-lg " target="_blank">
                                {{"Get Started"|translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bannerImg">
                        <img src="/assets/images/biswap4.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid headline">
        <div class="container">
            <div class="row textRow2">
                <div class="col-md-12">
                    <div class="subtitle">

                        {{"subtitle" | translate}}
                        <!-- {{"PROVIDE LIQUIDITY Detial"|translate}} -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid ">
        <div class="container">
            <div class="row contentRow">
                <div class="col-md-6">
                    <div class="bannerImg">
                        <img src="/assets/images/LootBoxes.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bannerTxt">
                        <h1 class="title">
                            {{"EARN & GET AIRDROP"|translate}}
                        </h1>
                        <p class="desc">
                            {{"EARN GET AIRDROP Detial" | translate}}
                        </p>
                        <div class="btns">
                            <a href="https://biswap.exchange" class="btn btn-primary btn-lg " target="_blank">
                                {{"Get Started"|translate}}
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section class="container-fluid reward">
        <div class="container">
            <div class="row textRow">
                <div class="col-md-12">
                    <h2>

                        <!-- {{"subtitle" | translate}} -->
                        {{"PROVIDE LIQUIDITY Detial"|translate}}
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="container">
            <div class="row contentRow">
                <div class="col-md-6">
                    <div class="bannerTxt">
                        <h1 class="title">
                            {{"Info & Analytics"|translate}}
                        </h1>
                        <p class="desc">
                            {{"Info Analytics Detial" | translate}}
                        </p>
                        <div class="btns">
                            <a href="https://biswap.exchange" class="btn btn-primary btn-lg " target="_blank">
                                {{"Get Started"|translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bannerImg">
                        <img src="/assets/images/arrowUp.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid">
        <div class="container">
            <div class="row contentRow">
                <div class="col-md-6">
                    <div class="bannerImg">
                        <img src="/assets/images/AppIniPhone.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bannerTxt">
                        <h1 class="title">
                            {{"download"|translate}}
                        </h1>
                        <p class="desc">
                            {{"downloadcontent" | translate}}
                        </p>
                        <div class="appBtns">
                            <div class="btns">
                                <a href="https://apps.apple.com/us/app/biswap/id1634279692?platform=iphone" class="btn btn-primary btn-lg " target="_blank">
                                    {{"IOS"|translate}}
                                </a>
                            </div>
                            <div class="btns">
                                <a href="https://play.google.com/store/apps/details?id=com.biswap.mobile" class="btn btn-primary btn-lg " target="_blank">
                                    {{"ANDROID"|translate}}
                                </a>
                            </div>
                            <div class="btns">
                                <a routerLink="/download" class="btn btn-primary btn-lg " target="_self" >
                                    {{"APK"|translate}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </section>
</div>


