<div class="container-fluid">
    <div class="banner text-center" fxLayout="column" fxLayoutAligh="center center" >
        <div class="mt-title">
            <h1>{{'EXPLORER NEW SPACE'| translate}} ！</h1>
        </div>

        <div class="mt-title" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5%">
            <div class="showcard swapcard handcursor" fxLayoutAlign="center center" routerLink="/swap">
                <h1 class="swaptxt">{{"SWAP"|translate}}</h1>
            </div>
            <div class="showcard lpcard handcursor" fxLayoutAlign="center center" routerLink="/pool">
                <h1 class="swaptxt">{{"POOL"|translate}}</h1>
            </div>
        </div>

        <div class="mt-title desc">
            <h2>{{"BISWAP PROTOCOL"|translate}}</h2>
        </div>
        <div class="row" fxLayoutAlign="center center">
            <div class="contentbox">
                {{"BiswapProtcl" | translate}}
            </div>
        </div>
    </div>
</div>