.container-fluid {
    padding: 0;
}

.banner {
    padding: 0;
     background: url("/assets/images/biswap-home.jpg");
     background-size: cover;
     background-repeat: no-repeat;
    height: 100vh;
    border: 1px solid red;
}

.swapcard {
    width: 600px;
    height: 320px;
    border-radius: 20px;
    background: url("/assets/images/swap.jpg");
}

.swapcard:hover {
    border: 3px solid orange;
}

.lpcard {
    width: 600px;
    height: 320px;
    border-radius: 20px;
    background: url("/assets/images/liquidity.jpg");
}

.lpcard:hover {
    border: 3px solid orange;
}

.swaptxt {
    text-shadow: 5px 5px orange;
    border: 1px solid gray;
}

h1 {
    font-size: 16px;
    font-weight: 500;
}

.mt-title {
    margin-top: 32px;
}

.mt-title2 {
    margin-top: 200px;
}

@media(min-width: 400px) //if more than 400 px
{
    h1{
    font-size:28px
  }

  .mt-title {
    margin-top: 40px;
  }
}

@media(min-width: 600px) //if more than 400 px
{
    h1{
    font-size:40px
  }
  .mt-title {
    margin-top: 64px;
  }
}

@media(min-width: 960px) //if more than 400 px
{
    h1{
    font-size:64px
  }

  .mt-title {
    margin-top: 100px;
  }
}

@media(min-width: 1280px) //if more than 400 px
{
    h1{
    font-size:86px
  }

  .mt-title {
    margin-top: 130px;
  }

}

@media(min-width: 1920px)
{
    h1{
    font-size:128px
  }

  .mt-title {
    margin-top: 200px;
}

}