<div fxLayout="row" fxLayoutAlign="center center" class="swapBody">

    <div class="cardContent">
        <mat-card class="'cardd">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>{{"Add Liquidity"|translate}} </mat-card-title>

                <div>
                    <button mat-icon-button (click)="openSettings()" class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </div>

            <div fxLayoutAlign="start center" class="paddingBottom5">
                <span>{{"Add liquidity to receive LP tokens"|translate}} </span>
            </div>

            <hr class="sparater" />

            <div fxLayout="column" fxLayoutGap="10px">
                <div class="tokenSelectButton" (click)="openFirstTokenListDialog()">
                    <span class="tokenwithIcon" *ngIf="firstToken.symbol != null; else select">
                        {{ firstToken.symbol }} <mat-icon>expand_more</mat-icon>
                        <span *ngIf="firstCoinBalance >= 0">({{firstCoinBalance}})</span>
                    </span>

                    <ng-template #select>
                        <span class="tokenwithIcon">
                            {{"Select Token"|translate}} <mat-icon>expand_more</mat-icon>
                        </span>
                    </ng-template>
                </div>

                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field>
                        <mat-label></mat-label>
                        <input (keyup)="onKey(firstCoinAmount, true)" #token1 matInput name="firstCoinAmount"
                            type="number" [(ngModel)]="firstCoinAmount" placeholder="0.0" />
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-icon>add</mat-icon>
                </div>

                <div class="tokenSelectButton" (click)="openSecondTokenListDialog()">
                    <span class="tokenwithIcon" *ngIf="secondToken.symbol != null; else selecta">
                        {{ secondToken.symbol }} <mat-icon>expand_more</mat-icon>
                        <span *ngIf="secondCoinBalance >= 0">({{secondCoinBalance}})</span>
                    </span>

                    <ng-template #selecta>
                        <span class="tokenwithIcon">
                            {{"Select Token"|translate}} <mat-icon>expand_more</mat-icon>
                        </span>
                    </ng-template>
                </div>

                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field>
                        <mat-label></mat-label>
                        <input (keyup)="onKey(secondCoinAmount, false)" #token2 matInput name="secondCointAmount"
                            type="number" [(ngModel)]="secondCoinAmount" placeholder="0.0" />
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{perAmountLabel}} </span>
                    <span *ngIf="perAmount">
                        {{ perAmount }}
                    </span>
                </div>
            </div>

            <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="mat-card-action">
                <button mat-raised-button color="primary" *ngIf="account && !((firstCoinAmount > firstCoinBalance) || 
                    (secondCoinAmount > secondCoinBalance))" (click)="addLiqudity()">
                    {{"Add Liquidity"|translate}}
                </button>

                <button mat-raised-button color="primary" *ngIf="!account" (click)="connectWallet()">
                    {{"Connect to wallet"|translate}}
                </button>

                <button mat-raised-button color="primary" disabled *ngIf="
                account && ((firstCoinAmount > firstCoinBalance) || 
                (secondCoinAmount > secondCoinBalance))
                ">Insufficent
                    {{(firstCoinAmount > firstCoinBalance) ? firstToken.tickerName : secondToken.tickerName}} balance
                </button>
            </mat-card-actions>
        </mat-card>


          

        <div class="paddingTop20 your-position mb-3" *ngIf="item?.pair">
            <mat-card id="position-mat-card">
        
                <div>
        
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Your LP tokens"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span> {{item.liquidityTokenBalance}}</span>
                        </div>
                    </div>
        
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Pooled"|translate}} {{item.token0Name}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span> {{item?.pair?.reserve0}}</span>
                        </div>
                    </div>
        
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Pooled"|translate}} {{item.token1Name}}:</span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span> {{item?.pair?.reserve1}} </span>
                        </div>
                    </div>
        
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Your pool share"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span> {{ item.share }} % </span>
                        </div>
                    </div>
        
                </div>
            </mat-card>
        </div>
        



        <div *ngIf="txHashes && txHashes.length > 0">
            <div *ngFor="let txHash of txHashes">
                <a [href]="txHash" target="_blank" [textContent]="txHash"> </a>
            </div>
        </div>
        <div *ngIf="error">
            <p class="text-danger">{{error}}</p>
        </div>
        <div *ngIf="newPair">
            <p>{{newPair}}</p>
        </div>
    </div>