.swapBody {
    min-width: 25%;
    margin-top: 100px;
    background-color: white;
}

::ng-deep .mat-card {
    border-radius: 25px !important; 
}

.coins-input-body {
    // border: 1px solid gray;
    border-radius: 15px;
    justify-content: center;
    background-color: #636363;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
    margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field label {
    font-size: 40px;
  }

  .sparater {
    margin: 10px -20px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.mat-card-action {
    padding: 10px 10px;
    button {
        width: 100%;
        padding: 5px 5px;
        border-radius: 20px;
    }
}

.tokenwithIcon{
    display: flex;
    align-items: center;
}