<div class="rounded-card">
    <div class="container">
        <div class="row py-2">
            <div class="col col-2">
                <b>{{"Pair"|translate}}</b>
            </div>
            <div class="col col-2">
                <b>{{"Token"|translate}}</b>
            </div>
            <div class="col col-2">
                <b>{{"Interval (Blocks)"|translate}}</b>
            </div>
            <div class="col col-2">
                <b>{{"Amount"|translate}}</b>
            </div>
            <div class="col col-2">
                <b>{{"Block Start"|translate}}</b>
            </div>
            <div class="col col-2">
                <b>{{"Block End"|translate}}</b>
            </div>
        </div>

        <div class="row py-2" *ngFor="let item of plans;let i = index">
            <div class="col col-2">
                {{item.pairName}}
            </div>
            <div class="col col-2">
                {{item.tokenName}}
            </div>
            <div class="col col-2">
                {{item.interval}}
            </div>
            <div class="col col-2">
                {{item.amount}}
            </div>
            <div class="col col-2">
                {{item.blockstart}}
            </div>
            <div class="col col-2">
                {{item.blockend}}
            </div>
        </div>
    </div>
</div>