<div class="container py-3" *ngIf="pair">
    <div class="d-flex py-2">
        <a href="/info">Home </a>
        >
        <a href="/info?tabName=pools">Pools</a>
        >
        {{pair.token0Name}} / {{pair.token1Name}} {{pair.summary.priceChange24h}}%
    </div>
    <div class="py-2">
        <h2><a href="/info/token/{{pair.token0Identity}}">{{pair.token0Name}}</a> / <a href="/info/token/{{pair.token1Identity}}">{{pair.token1Name}}</a> {{pair.summary.priceChange24h}}%</h2>
    </div>
    <div class="py-2 d-flex justify-content-between">
        <div class="d-flex">
            <div>1 {{pair.token0Name}} = {{pair.token1Price}} {{pair.token1Name}}</div>
            <div class="px-3">1 {{pair.token1Name}} = {{pair.token0Price}} {{pair.token0Name}}</div>
        </div>
        <div class="d-flex">
            <button type="button" class="btn btn-secondary" [routerLink]="['/', 'pool', 'add', 'pair', identity]">Add Liquidity</button>
            <button type="button" class="mx-3 btn btn-primary" [routerLink]="['/', 'swap', 'pair', identity]">Trade</button>
        </div>
    </div>

    <div class="row">
        <div class="col col-md-3 col-12">
            <div class="py-2">
                <div>Total Tokens Locked</div>
                <div class="d-flex justify-content-between">
                    <div>{{pair.token0Name}}</div>
                    <div>{{pair.reserve0}}</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div>{{pair.token1Name}}</div>
                    <div>{{pair.reserve1}}</div>
                </div>
            </div>
            <div class="py-2">
                <div>TVL</div>
                <div>${{pair.summary.reserveUSD}}</div>
            </div>
            <div class="py-2">
                <div>Volume 24h</div>
                <div>${{pair.summary.dailyVolumeUSD}}</div>
            </div>
            <div class="py-2">
                <div>24h Fees</div>
                <div>${{pair.summary.dailyVolumeUSD * 0.003}}</div>
            </div>
        </div>
        <div class="col col-md-9 col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div>{{title}}</div>
                    <div><b>${{value}}</b></div>
                    <div>{{currentTime}}</div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" (click)="changeTab('Volume')" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Volume</label>
                  
                    <input type="radio" (click)="changeTab('TVL')" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">TVL</label>
                  
                    <input type="radio" (click)="changeTab('Fees')" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Fees</label>
                </div>
            </div>
            <div #chart id="chart" class="p-3"></div>
        </div>
    </div>
    <div>
        <div>Transactions</div>
        <app-transactions [transactions]="transactions"></app-transactions>
    </div>
</div>

