<div fxLayout="row" fxLayoutAlign="center center" class="swapBody">
    <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="70" fxFlex.md="40">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>Swap</mat-card-title>

                <div>
                    <button (click)="openSettings()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <!--
          <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with share icon"
          >
            <mat-icon>more_horiz</mat-icon>
          </button>
          -->
                </div>
            </div>

            <div fxLayoutAlign="start center" class="paddingBottom5">
                <span>Trade tokens in an instant</span>
            </div>

            <hr class="sparater" />

            <div fxLayout="column" fxLayoutGap="10px">

                <div class="tokenSelectButton" (click)="openFirstTokenListDialog()">
                    <span class="tokenwithIcon" *ngIf="firstToken.tickerName != null; else select">
                        {{ firstToken.tickerName }} <mat-icon>expand_more</mat-icon>
                        <span *ngIf="firstCoinBalance >= 0">({{firstCoinBalance}})</span>
                    </span>

                    <ng-template #select>
                        <span class="tokenwithIcon">
                            Select Token <mat-icon>expand_more</mat-icon>
                        </span>
                    </ng-template>

                </div>
                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field>
                        <mat-label></mat-label>
                        <input (keyup)="onKey(firstCoinAmount, true)" #token1 matInput name="firstCoinAmount"
                            type="number" [(ngModel)]="firstCoinAmount" placeholder="0.0" />
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button (click)="changeTokens()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>swap_vert</mat-icon>
                    </button>
                </div>

                <div class="tokenSelectButton" (click)="openSecondTokenListDialog()">
                    <span class="tokenwithIcon" *ngIf="secondToken.tickerName != null; else selecta">
                        {{ secondToken.tickerName }} <mat-icon>expand_more</mat-icon>
                        <span *ngIf="secondCoinBalance >= 0">({{secondCoinBalance}})</span>
                    </span>

                    <ng-template #selecta> <span class="tokenwithIcon">
                            Select Token <mat-icon>expand_more</mat-icon>
                        </span> </ng-template>
                </div>

                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-form-field>
                        <mat-label></mat-label>
                        <input (keyup)="onKey(secondCoinAmount, false)" #token2 matInput name="secondCointAmount"
                            type="number" [(ngModel)]="secondCoinAmount" placeholder="0.0" />
                    </mat-form-field>


                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{perAmountLabel}} </span>
                    <span>
                        {{ perAmount }}
                    </span>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{'Slippage Tolerance'}} </span>
                    <span>
                        {{ slippage }}%
                    </span>
                </div>

            </div>

            <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="mat-card-action">
                <button mat-raised-button color="primary" (click)="connectWallet()" *ngIf="!account; else asd">Connect a
                    wallet</button>

                <ng-template #asd>
                    <button mat-raised-button color="primary" (click)="swapFunction()">Swap</button>
                </ng-template>

            </mat-card-actions>

        </mat-card>

        <div class="paddingTop20 your-position mb-3" *ngIf="liquidityPrividerFee">
            <mat-card id="position-mat-card">

                <div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5" *ngIf="minimumReceived">
                        <span> Minimum received: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{minimumReceived}}</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5" *ngIf="maximumSold">
                        <span> Maximum sold: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{maximumSold}}</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> Price impact: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">


                            <span>{{priceImpact}}%</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> Liquidity Provider Fee :</span>
                        <div fxLayout="row" fxLayoutAlign="center center">

                            <span>{{liquidityPrividerFee}} {{liquidityPrividerFeeCoin}}</span>

                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> Route: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">


                            <span *ngFor="let item of route; let i = index">
                                {{item}}
                                <span *ngIf="i != route.length - 1"> >&nbsp;</span>
                            </span>
                        </div>
                    </div>

                </div>
            </mat-card>
        </div>


        <div *ngIf="txHash">
            <a [href]="txHash" target="_blank" [textContent]="txHash"> </a>
        </div>
        <div *ngIf="error">
            <p class="text-danger">{{error}}</p>
        </div>
        <div class="black mt-2" *ngIf="tokenId=='0x0000000000000000000000000000000000000000'">
            No Liquidity for this pair.
        </div>
    </div>



</div>

<ngx-ui-loader></ngx-ui-loader>