
.main {
    margin-top: 3rem;
}

.swapBody {
    padding-bottom: 100px;
}

.maina {
    margin-top: 4rem;
}

.cardd {
    min-width: 360px;
    width: 100%;
}

::ng-deep .mat-card {
    border-radius: 12px !important;
    background-image: linear-gradient(#5b51cc, #3f5ac5);
    border: 1px solid lightblue;
    width: 360px;
}

.coins-input-body {
    border-radius: 4px;
    justify-content: center;
    background-color: rgb(218, 216, 216);
    color: black;
    padding: 4px;
}

.tokenAmt {
    width: 50%;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
    margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field {
    width: 100%;
    label {
        font-size: 32px;
    }
}

.sparater {
    margin: 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.mat-card-action {
    padding: 10px;
    button {
        width: 100%;
        padding: 5px;
        border-radius: 20px;
    }
}

.nopair {
    font-size: small;
    color: orange;
    padding: 1rem;
}

.tokenSelectButton {
    width: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.tokenwithIcon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title1 {
    max-width: 1280px;
    margin-top: 100px;
}

.title2 {
    margin-bottom: 60px;
}

h1 {
    font-weight: 500;
}

@media(max-width: 600px) //if more than 400 px
{
    .maina {
        width: 100vw;
        margin-top: 1rem;
    }

    mat-card-title {
        font-size: 18px;
    }
    
    ::ng-deep .mat-card {
        background-image: none;
        background-color: #0d0f1f;
        border: none;
        font-size: 12px;
        width: 360px;
    }

    .tokenSelectButton {
        width: 50%;
        font-size: 12px;
    }

   .tokenwithIcon {
    width: 100%;
    font-size: 12px;
    font-weight: 500;
   }
}

@media(min-width: 400px) //if more than 400 px
{
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 20px
    }
    .title2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media(min-width: 600px) //if more than 400 px
{
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 12px;
    }
    .title2 {
        margin-top: 28px;
        margin-bottom: 38px;
    }
}

@media(min-width: 960px) //if more than 400 px
{
    h1 {
        font-size: 64px
    }
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 18px;
    }
    .title2 {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media(min-width: 1280px) //if more than 400 px
{
    h1 {
        font-size: 50px
    }
    h2 {
        font-size: 42px
    }
    h3 {
        font-size: 24px;
    }
    .title2 {
        margin-top: 52px;
        margin-bottom: 60px;
    }
}

@media(min-width: 1920px) {
    h1 {
        font-size: 100px
    }
    h2 {
        font-size: 64px
    }
    h3 {
        font-size: 36px;
    }
    .title2 {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}