<div fxLayout="column" fxLayoutAlign="start center" class="swapBody">

    <div class="row maina animated-element" #animatedElement>
        <mat-card class="cardd">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>{{"Swap"|translate}}</mat-card-title>

                <div class="setting">
                    <button (click)="openSettings()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </div>

            <div fxLayoutAlign="start center" class="paddingBottom5">
                <span>{{"Trade tokens in an instant"|translate}}</span>
            </div>

            <hr class="sparater" />

            <div fxLayout="column" fxLayoutGap="10px">
                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <input (keyup)="onKey(firstCoinAmount, true)" #token1 name="firstCoinAmount" type="number" class="tokenAmt" [(ngModel)]="firstCoinAmount" placeholder="0.0" />
                    <div class="tokenSelectButton btn" (click)="openFirstTokenListDialog()">
                        <span class="tokenwithIcon" *ngIf="firstToken?.symbol != null; else select">
                            {{ firstToken.symbol }} <span *ngIf="firstCoinBalance >= 0">({{firstCoinBalance}})</span>
                            <mat-icon>expand_more</mat-icon>
                        </span>
                
                        <ng-template #select>
                            <span class="tokenwithIcon">
                                {{"Select Token"|translate}} <mat-icon>expand_more</mat-icon>
                            </span>
                        </ng-template>
                    </div>
                </div>
                
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button (click)="changeTokens()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>swap_vert</mat-icon>
                    </button>
                </div>

                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <input readonly #token2 name="secondCoinAmount" class="tokenAmt" type="number" 
                        [(ngModel)]="secondCoinAmount" placeholder="0.0" />
                    <div class="tokenSelectButton btn" (click)="openSecondTokenListDialog()">
                        <span class="tokenwithIcon" *ngIf="secondToken?.symbol != null; else selecta">
                            {{ secondToken.symbol }} <span *ngIf="secondCoinBalance >= 0">({{secondCoinBalance}})</span>
                            <mat-icon>expand_more</mat-icon>
                        </span>
                
                        <ng-template #selecta>
                            <span class="tokenwithIcon">
                                {{"Select Token"|translate}} <mat-icon>expand_more</mat-icon>
                            </span>
                        </ng-template>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{perAmountLabel}} </span>
                    <span>
                        {{ perAmount }}
                    </span>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{'Slippage Tolerance'|translate}} </span>
                    <span (click)="editSlippage=true">
                        <span *ngIf="editSlippage==false">
                            {{ slippage }} 
                        </span>
                        <input *ngIf="editSlippage==true" type="number" [(ngModel)]="slippage" fxFlex="64px" (blur)="editSlippage=false; onBlur()" (keyup)="keyUp()"/> %
                    </span>
                </div>
                <div *ngIf="slippageErr" class="warn">
                    {{"slippageErrMsg"|translate}}
                </div>

            </div>

            <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="mat-card-action"
                *ngIf="tokenId && (tokenId!='0x0000000000000000000000000000000000000000')">
                <button mat-raised-button color="primary" (click)="connectWallet()" *ngIf="!account; else asd">
                    {{"Connect to wallet"|translate}}
                </button>

                <ng-template #asd>
                    <button mat-raised-button color="primary" (click)="swapFunction()"
                        *ngIf="!insufficientFund">Swap{{(priceImpact > 5) ? ' Anyway' : ''}}</button>
                    <button mat-raised-button color="primary" disabled *ngIf="insufficientFund">Insufficent
                        {{firstToken.tickerName}} balance</button>
                </ng-template>

            </mat-card-actions>
        </mat-card>
    </div>

    <div class="row">
        <div class="paddingTop20 your-position mb-3"  *ngIf="liquidityPrividerFee">
            <mat-card id="position-mat-card">
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5" *ngIf="minimumReceived">
                        <span> {{"Minimum received"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{minimumReceived}}</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5" *ngIf="maximumSold">
                        <span> {{"Maximum sold"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{maximumSold}}</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Price impact"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span [ngClass]="(priceImpact > 5) ? 'text-danger' : ''">{{priceImpact}}%</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Liquidity Provider Fee"|translate}} :</span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{liquidityPrividerFee}} {{liquidityPrividerFeeCoin}}</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Route"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span *ngFor="let item of route; let i = index">
                                {{item}}
                                <span *ngIf="i != route.length - 1"> >&nbsp;</span>
                            </span>
                        </div>
                    </div>

                </div>
            </mat-card>
        </div>

        <div *ngIf="txHashes && txHashes.length > 0">
            <div *ngFor="let txHash of txHashes">
                <a [href]="txHash" target="_blank" [textContent]="txHash"> </a>
            </div>
        </div>
        <div *ngIf="error">
            <p class="text-danger">{{error}}</p>
        </div>
        <div class="nopair black mt-2" *ngIf="tokenId=='0x0000000000000000000000000000000000000000'">
            {{"No Liquidity for this pair"|translate}}.
        </div>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
