// @media only screen and (max-width: 600px) {
// }
::-webkit-input-placeholder {
    color: black
}

input {
    --placeHolder-color: black;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

input:-moz-placeholder {
    color: black;
}

input::-moz-placeholder {
    color: black;
}

.swapBody {
    margin-top: 100px;
}

::ng-deep .mat-card {
    border-radius: 12px !important;
    background-color: #0044aa;
}

.coins-input-body {
    // border: 1px solid gray;
    border-radius: 8px;
    justify-content: center;
    background-color: #c3c9e0;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
    margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field {
    width: 100%;
    label {
        font-size: 40px;
    }
}

.sparater {
    margin: 10px -20px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.mat-card-action {
    padding: 10px 10px;
    button {
        width: 100%;
        padding: 5px 5px;
        border-radius: 20px;
    }
}

.tokenSelectButton {
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.tokenwithIcon {
    display: flex;
    align-items: center;
}
