::ng-deep .cdk-overlay-pane {
    width: 320px;
    border-radius: 5px;
    // border: 1px solid red;
}

::ng-deep .mat-dialog-container {
    border-radius: 8px;
    overflow: hidden !important;
    background-color: white;
    color: black;
}

::ng-deep .mat-dialog-content {
    font-size: small;
}

.tokenlist {
    height: 380px;
}

mat-form-field mat-label {
    font-size: small;
    color: blue;
}

.sparater {
    margin: 10px -30px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.search-token-input {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 0;
    font-size: small;
}

.search-token-input input {
    border: 1px solid #c7c5c5;
    border-radius: 4px;
    width: 100%;
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;;
    font-size: small;
}

::ng-deep .mat-form-field-flex {
    padding-left: 16px;
    padding-right: 16px;
}

::ng-deep .mat-input-element {
    caret-color: white;
    font-size: small;
    height: 32px;
}

.list-button {
    height: 40px;
    width: 100%;
    // line-height: 40px;
    cursor: pointer;
    background-color: #e2e1e1;
    border: 0;
    border-radius: 5px;

    :hover {
        height: 30px;
        line-height: 40px;
        background-color: #868585;
    }

    span {
        color: black;
    }
}

@media(max-width: 640px) {
    ::ng-deep .cdk-overlay-pane {
        width: 240px;
        border-radius: 3px;
        //border: 1px solid red;
    }

    .container {
        padding: 0;
    }
}