:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0d012c;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.settingDiv {
  background-color: #0d012c;
}

.inputField{
  width: 100%;
  padding: 5px 5px;
  border-radius: 20px;
  background-color: #0d012c;
  color: white;
  border: 1px solid white;
  margin-bottom: 10px;
}

::ng-deep .mat-form-field-flex{
  padding: 3px 10px !important;
}