.dashboard-body {
  height: 50vh;
}

.dash-mat-card {
  padding: 0 !important;
  background-color: #222f3e;
  &:hover {
    border-bottom: 2px solid #222f3e;
    color: #222f3e;
    background-color: #efefef;
 }
}

.card-h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.instructions {
  display: block;
  justify-content: center;
  text-align: center;
}
