<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" class="dashboard-body">
    <div fxFlex="15" fxFlex.sm="30" fxFlex.xs="40" fxFlex.md="18">
        <mat-card class="dash-mat-card handcursor">
            <div fxFlex="row" fxLayoutAlign="center center" routerLink="/swap">
                <h2 class="margin0 card-h2">{{"Go to Swap"|translate}}</h2>
            </div>
        </mat-card>
    </div>
    <div fxFlex="15" fxFlex.sm="30" fxFlex.xs="40" fxFlex.md="18">
        <mat-card class="dash-mat-card handcursor">
            <div fxFlex="row" fxLayoutAlign="center center" routerLink="/pool">
                <h2 class="margin0 card-h2">{{"Go to Liquidity"|translate}}</h2>
            </div>
        </mat-card>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>


<div class="instructions">

    <h1>{{"Biswap web app instruction"|translate}}</h1>

    <p>{{"Instru1"|translate}} (https://exchangily.com/ex/walletconnect)</p>

    <h2>{{"Liquidity"|translate}}</h2>

    <p>{{"Instru2"|translate}}</p>

    <p>{{"Instru31"|translate}} (https://exchangily.com/ex/walletconnect) {{"Instru32"|translate}}</p>

    <h2>{{"Swap"|translate}}</h2>

    <p>{{"Instru41"|translate}} (https://exchangily.com/ex/walletconnect) {{"Instru32"|translate}}</p>
</div>