mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav-container {
    width: 100vw;
    height: 100vh;
    background-color: #0b0e1c;
}

mat-sidenav {
    width: 250px;
}


main {
    min-height: 400px;
    height: calc(100vh - 418px);
}
