mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav-container {
    width: 100vw;
    height: 100vh;
    background-color: #efefef;
}

mat-sidenav {
    width: 250px;
}


main {
     min-height: 1000px;
}