/* .manubar {
    width: 100%;
    background-color: darkblue;
    color: white;
    font-size: 18pt;
    display: flex;
    justify-content: space-between;
}

.content {
    margin-top: 2em;
    text-align: center;
}

.banner {
    max-width: 1200px;
    height: 628px;
    background-image: url("/images//biswap-cryptocurrency.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.title {
    font-size: 2.4em;
    margin-top: 1em;
}

.title2 {
    font-size: 1.5em;
    margin-top: 0.4em;
}

.footer {
    width: 100%;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.logo {
    font-weight: 900;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
}

.logoimg {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.site-header .navbar-brand img {
    width: auto;
    max-width: 100%;
    max-height: 60px;
}

a.navbar-brand.animated {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos li img {
    max-height: 50px;
}

.widget-about {
    text-align: center;
}
