<!-- 
<div class="manubar">
    <div>
        <img width="40" alt="Biswap Logo" src="/images/logo-640x640-white.png" />
        <span>Biswap</span>
    </div>
    <div class="spacer"></div>
    <a aria-label="Biswap on twitter" target="_blank" rel="noopener" href="https://twitter.com/Exchangily" title="Twitter">
        <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
</div>

<div class="content" role="main">

    <div class="card highlight-card card-small">
        <div class="banner">
        </div>

        <div class="title">{{ title }} - the decentralized protocol for automated liquidity provision for all major tokens !</div>
        <div class="title2">Provides liquidity for Exchangily and serves as the DEFI core of DSCMAP - the Decentralized Supply-Chain Management and Payment.</div>
    </div>
    <footer class="footer">
        <div class="center">
            Biswap.com
        </div>
    </footer>

</div> -->

<div class="theme-salvia io-salvia" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">
	    
	    <!-- Place Particle Js -->
		<div id="particles-js" class="particles-container particles-js"></div>
		
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">

				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="./">
					<img class="logoimg" alt="logo" src="/assets/logo/biswap-swan.png">
                    <div class="logo">Biswap</div>
					
					<!-- <img class="logo logo-light" alt="logo" src="images\logo-full-white.png" srcset="images\logo-full-white2x.png 2x"> -->
				</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<!-- <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".75">
						<li class="nav-item"><a class="nav-link menu-link" href="#about">About</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#overview">Overview</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#how">How it Works</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#tokens">ICO Token</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">More</a>
							<div class="dropdown-menu">
								<a class="dropdown-item menu-link" href="#faq">Faqs</a>
								<a class="dropdown-item menu-link" href="#documents">Documents</a>
							</div>
						</li>
					</ul> -->
					<ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay=".85">
						<li class="nav-item lang-switch">
							<a class="btn btn-sm btn-outline" href="#" data-toggle="dropdown">ZH <em class="ti ti-angle-down"></em></a>
							<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="#">EN</a>
								<a class="dropdown-item" href="#">ZH</a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link btn btn-sm menu-link" href="#">eXchangily</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-salvia">
			<div class="container">
				<div class="banner-content">
					<div class="row align-items-center justify-content-center justify-content-lg-between">
						<div class="col-lg-6 col-xl-6 res-m-bttm-lg text-center text-lg-left">
							<div class="header-txt">
								<h2 class="animated" data-animate="fadeInUp" data-delay="1.25">Biswap - 为所有主要代币自动提供流动性的去中心化金融服务！</h2>
								<p class="lead animated" data-animate="fadeInUp" data-delay="1.35">
                                    完全透明。增强信任度，最小化风险，最大化回报。</p>
								<ul class="btns animated" data-animate="fadeInUp" data-delay="1.45">
								    <li><a href="#" class="btn btn-outline">白皮书</a></li>
								</ul>
								<div class="gaps size-2x"></div>
								<h6 class="animated" data-animate="fadeInUp" data-delay="1.55">加入我们的社区</h6>
								<ul class="social-link-exp">
								    <li class="animated" data-animate="fadeInUp" data-delay="1.65"><a href="#"><em class="fas fa-paper-plane"></em></a></li>
								    <li class="animated" data-animate="fadeInUp" data-delay="1.7"><a href="#"><em class="fab fa-facebook-f"></em></a></li>
								    <li class="animated" data-animate="fadeInUp" data-delay="1.75"><a href="#"><em class="fab fa-twitter"></em></a></li>
								    <li class="animated" data-animate="fadeInUp" data-delay="1.8"><a href="#"><em class="fab fa-medium-m"></em></a></li>
								    <li class="animated" data-animate="fadeInUp" data-delay="1.85"><a href="#"><em class="fab fa-github"></em></a></li>
								    <li class="animated" data-animate="fadeInUp" data-delay="1.9"><a href="#"><em class="fab fa-bitcoin"></em></a></li>
								</ul>
							</div>
						</div><!-- .col  -->
						<div class="col-lg-6 col-xl-5 col-md-8 col-sm-9">
						    <div class="token-countdown-box animated" data-animate="fadeInUp" data-delay="2">
						        <img src="assets/img/earth.gif" alt="img" />
						    </div>
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->
	
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="about">
	    <div class="container">
	        <div class="row align-items-center">
	            <div class="col-lg-5">
	                <div class="graph-img res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
	                    <img src="assets/img/biswap-map.png" alt="graph">
	                </div>
	            </div>
	            <div class="col-lg-7 order-lg-first">
	                <div class="text-block">
	                    <h2 class="animated" data-animate="fadeInUp" data-delay=".1">关于Biswap</h2>
	                    <p class="animated" data-animate="fadeInUp" data-delay=".2">Biswap DeFi是指一系列金融服务的聚合，例如交易，贷款，借款，支付，商业数据加密等。这些服务借助去中心化的基础架构，以区块链网络和智能合约的形式运行。</p>
	                    <p class="animated" data-animate="fadeInUp" data-delay=".3">多年来，DeFi（即去中心化金融）一直是数字货币行业中最热门的主题之一。 Biswap构建的强大概念，可以实现甚至超越比特币的最初愿景。Biswap所提供的建去中心化的点对点（P2P）支付系统和数据加密防篡改系统。</p>
	                </div>
	                <div class="gaps size-1x"></div>
	                <div class="row">
	                    <div class="col-lg-6">
	                        <div class="icn-with-txt one animated" data-animate="fadeInUp" data-delay=".4">
                                <span class="icon"><em class="fas fa-check"></em></span>
                                <p>Biswap使用智能合约和区块翎克术来运行,而无需（或极少）人工干预。</p>
                            </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="icn-with-txt two animated" data-animate="fadeInUp" data-delay=".5">
                                <span class="icon"><em class="fas fa-check"></em></span>
                                <p>Biswap访问方便，任何拥有相应功能的设备有效的互联网连接的人，都可以访问和使用。</p>
                            </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="icn-with-txt three animated" data-animate="fadeInUp" data-delay=".6">
                                <span class="icon"><em class="fas fa-check"></em></span>
                                <p>Biswap透明度很高，部分相关项目是开源的，其代码发布在区块链上任何人都可以进行申核。</p>
                            </div>
	                    </div>
	                    <div class="col-lg-6">
	                        <div class="icn-with-txt four animated" data-animate="fadeInUp" data-delay=".7">
                                <span class="icon"><em class="fas fa-check"></em></span>
                                <p>Biswap可以兼容其他产品（例如，常见稳定币，去中心化交易所，合约服务等。）</p>
                            </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-pad section-bg" id="overview">
	    <div class="container">
	        <div class="row align-items-center">
	            <div class="col-lg-6">
	                <div class="graph-img res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
	                    <img src="assets/img/team.jpg" alt="graph">
	                </div>
	            </div>
	            <div class="col-lg-6">
	                <div class="text-block">
	                    <h2 class="animated" data-animate="fadeInUp" data-delay=".2">奖项</h2>
	                    <p class="animated" data-animate="fadeInUp" data-delay=".3">Biswap团队获得过甲骨文科技创新一等奖和万锦市科技创新三等奖。</p>
	                    <h2 class="animated" data-animate="fadeInUp" data-delay=".4">使命</h2>
	                    <p class="animated" data-animate="fadeInUp" data-delay=".5">利用区块链技术对现实世界的商品或服务进行数字化，帮助万物互联并提供不可篡改的数据服务。</p>
	                    <h2 class="animated" data-animate="fadeInUp" data-delay=".6">产品线</h2>
	                    <p class="animated" data-animate="fadeInUp" data-delay=".7">Biswap的产品线包括去中心化交易所，稳定币，快速支付，电商平台等。</p>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt nopb">
	    <div class="container">
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-6 col-md-8">
	                <div class="section-head-s8">
						<h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">产品线</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".2">Biswap拥有完整的去中心化产品线</p>
					</div>
	            </div>
	        </div>
	        <div class="row justify-content-center">
	            <div class="col-lg-4 col-md-6 res-m-bttm-lg">
	                <div class="icon-box animated" data-animate="fadeInUp" data-delay=".3">
	                    <div class="icon-box-img">
	                        <img src="images\salvia\problem-icon-a.png" alt="icon">
	                    </div>
	                    <h5>Exchangily</h5>
	                    <p>中心化交易所 - 提供高性能去中心化交易及支付处理能力。亿币交易所是目前全球唯一准实时的去中心化加密货币交易所，具备各种主流区块链的跨链功能，提供快速、匿名交易处理能力。用户无需将资产托管给交易所，自己永远绝对拥有资产的控制权。</p>
	                </div>
	            </div>
				<div class="col-lg-4 col-md-6">
	                <div class="icon-box animated" data-animate="fadeInUp" data-delay=".5">
	                    <div class="icon-box-img">
	                        <img src="images\salvia\problem-icon-b.png" alt="icon">
	                    </div>
	                    <h5>Dscmap</h5>
	                    <p>去中心化供应链网络，提供从原材料、生产制成、仓储、物流、库存、销售到客户服务的全过程去中心化供应链管理能力，并通过Biswap建立起数字货币投资者与生产厂商、电子商务商家之家的去中心化可信任、透明可控的借贷金融服务，使金融增值来源于实体经济盈利。</p>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 res-m-bttm-lg">
	                <div class="icon-box animated" data-animate="fadeInUp" data-delay=".4">
	                    <div class="icon-box-img">
	                        <img src="images\salvia\problem-icon-c.png" alt="icon">
	                    </div>
	                    <h5>Ecombar</h5>
	                    <p>电商霸客户端，包括网站及手机App, 完全开源免费的电商应用，后端连接Dscmap去中心化供应链系统（用户自己也可以开发自己的应用）。并拥有完整的全产业链数据防篡改追踪功能，让远在千里的陌生商家和通过数据相信彼此。</p>
	                </div>
	            </div>
	            
	        </div>
	    </div>
	</div>
	<!-- End Section -->
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt">
	    <!-- <div class="container">
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-6 col-md-8">
	                <div class="section-head-s8">
						<h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">Solutions</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".2">Our method and vision</p>
					</div>
	            </div>
	        </div>
	        <div class="row justify-content-center">
	            <div class="col-lg-4 col-md-6 res-m-bttm-lg">
	                <div class="icon-box animated" data-animate="fadeInUp" data-delay=".3">
	                    <div class="icon-box-img">
	                        <img src="images\salvia\solution-icon-a.png" alt="icon">
	                    </div>
	                    <h5>Global Single-Platform:</h5>
	                    <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid eos qui ratione voluptatem sequi nesciunt.</p>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6 res-m-bttm-lg">
	                <div class="icon-box animated" data-animate="fadeInUp" data-delay=".4">
	                    <div class="icon-box-img">
	                        <img src="images\salvia\solution-icon-b.png" alt="icon">
	                    </div>
	                    <h5>Be Safe and Secure:</h5>
	                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6">
	                <div class="icon-box animated" data-animate="fadeInUp" data-delay=".5">
	                    <div class="icon-box-img">
	                        <img src="images\salvia\solution-icon-c.png" alt="icon">
	                    </div>
	                    <h5>Decentralize Payment Systems</h5>
	                    <p>Empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris fugiat nulla sed do eiusmod.</p>
	                </div>
	            </div>
	        </div>
	    </div> -->
	</div>
	<!-- End Section -->
	

	<!-- Start Section -->
	<div class="section section-pad overlay-shape section-bg-salvia">
	    <div class="container">
	        <div class="row">
	            <div class="col-12 text-center">
	                <h1 class="animated" data-animate="fadeInUp" data-delay=".1">特色服务</h1>
	                <h3 class="animated" data-animate="fadeInUp" data-delay=".2">Biswap中心化的信用评分和身份验证协议，旨在提供一个替代且公平的方法来评估个人或公司的信用。</h3>
	                <p class="lead animated" data-animate="fadeInUp" data-delay=".3">旨在解决的关键问题是贷款时身份可能被盗的高风险性和国家间信用记录的难以移植性</p>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Section -->
	
	
	
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt">
	    <div class="container">
	        <div class="row align-items-center justify-content-between">
	            <div class="col-lg-7">
	                <div class="graph-img res-m-btm animated" data-animate="fadeInUp" data-delay=".1">
	                    <img src="assets/img/app-in-iphone.gif" alt="screenshoot">
	                </div>
	            </div>
	            <div class="col-lg-4 order-md-first">
	                <div class="text-block">
	                    <h2 class="animated" data-animate="fadeInUp" data-delay=".2">Exchangily交易所</h2>
	                    <p class="animated" data-animate="fadeInUp" data-delay=".3">亿币交易所是目前全球唯一准实时的去中心化加密货币交易所，具备各种主流区块链的跨链功能，提供快速、匿名交易处理能力。用户无需将资产托管给交易所，自己永远绝对拥有资产的控制权。</p>
	                </div>
	            </div>
	        </div>
           <div class="gaps size-2x"></div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 res-m-bttm">
                    <div class="icn-with-txt one with-bg with-border animated" data-animate="fadeInUp" data-delay=".4">
                        <span class="icon"><em class="fas fa-check"></em></span>
                        <span class="txt">安全交易</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 res-m-bttm">
                    <div class="icn-with-txt two with-bg with-border animated" data-animate="fadeInUp" data-delay=".5">
                        <span class="icon"><em class="fas fa-check"></em></span>
                        <span class="txt">加密私有切安全</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 res-m-bttm">
                    <div class="icn-with-txt three with-bg with-border animated" data-animate="fadeInUp" data-delay=".6">
                        <span class="icon"><em class="fas fa-check"></em></span>
                        <span class="txt">多重支付网关</span>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 res-m-bttm">
                    <div class="icn-with-txt four with-bg with-border animated" data-animate="fadeInUp" data-delay=".7">
                        <span class="icon"><em class="fas fa-check"></em></span>
                        <span class="txt">多币种支持</span>
                    </div>
                </div>
            </div>
	    </div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-salvia bg-fixed-pattern nopb" id="tokens">
       
	    <div class="container">
	        <div class="row justify-content-center text-center">
	            <div class="col-lg-6 col-md-8">
	                <div class="section-head-s8">
						<h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">Biswap<br class="d-none d-lg-block">数据加密安全</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".2">Biswap使得用户在没有中介机构和权威机构（例如服务提供商）监督的情况下，在全球范围内使用传统金融产品。</p>
					</div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 col-md-6">
	                <div class="token-sale-box animated" data-animate="fadeInUp" data-delay=".2">
	                    <span class="token-sale-info">去中心化</span>
	                    <span class="token-sale-title">Biswap</span>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6">
	                <div class="token-sale-box animated" data-animate="fadeInUp" data-delay=".3">
	                    <span class="token-sale-info">安全保险</span>
	                    <span class="token-sale-title">Biswap</span>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-6">
	                <div class="token-sale-box animated" data-animate="fadeInUp" data-delay=".4">
	                    <span class="token-sale-info">随时追查</span>
	                    <span class="token-sale-title">Biswap</span>
	                </div>
	            </div>
	        </div>
	        <div class="gaps size-2x"></div>
	        <div class="gaps size-2x d-none d-lg-block"></div>
	        
	        <div class="gaps size-1x"></div>
	        <div class="gaps size-2x d-none d-sm-block"></div>
	       
	        <div class="gaps size-4x"></div>
	        <div class="gaps size-2x d-none d-sm-block"></div>
	        
	        
	    </div>
	</div>
	<!-- End Section -->
	

	
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="faq">
	    <div class="container">
	        <div class="row justify-content-between">
	            <div class="col-lg-4 ">
	                <div class="section-head-s8">
						<h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
						<p class="lead animated" data-animate="fadeInUp" data-delay=".2">DeFi代表的是去中心化金融（Decentralized Finance）

							DeFi概念指的是，通过区块链提供传统金融机构和中心化机构（通常是银行）所能提供的几乎所有金融服务。
							
							简而言之，Defi是一种基于区块链的金融服务，将传统金融服务融入其中，利用区块链的独特功能创造出新的服务或金融衍生品。
							
							尽管数十年来我们一直拥有分布式计算和去中心化计算等概念，但DeFi实际上是一个新概念，也可以理解为区块链作为基础设施的应用范围的扩展。</p>
					</div>
	            </div>
	            <div class="col-lg-7">
	                <div class="accordion-s3 animated" data-animate="fadeInUp" data-delay=".3" id="accordion-1">
                        <div class="card active">
                            <div class="card-header">
                                <h5>
                                    <a data-toggle="collapse" data-target="#collapse-1-1">
                                        Biswap安全吗？它是如何实施安全措施的？<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                <div class="card-body">
                                    <p>Biswap以及相关服务是去中心化系统，无第三方机构控制，系统安全性由去中心化的区块链保证，由于系统是架构于去中心化公有区块链发链平台，它的安全性级别与公有区块链相同。</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
										Biswap的技术团队实力如何 ？<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    <p>Biswap是由全球第一位区块方向研究的美国博士Dora Tang女土发起并主持，团队由20余位美国和加拿大一流专家、学者及研究、开发人员组成，其中包括计算机、数学、密码学、金融学在内的博士团队，具有雄厚的技术实力。

										首先，Dora Tang是一位经验丰富的金融专家，具有多年国际金融从业经验，并专门从事区块链技术的深入研究，提出了一系列创新理论和技术，有效解决了去中心化高效跨链交易处理的难题，为Biswap的建设奠定了坚实的基础。
										
										Biswap是基于Dora Tang的创造性研究成果，经过详细的技术论证及架构设计开发实施的，在理论、技术及方法上均处于行业领导地位。</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>
                                    <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
										去中心化金融的本质是什么？<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                <div class="card-body">
                                    <p>金融是围绕货币及各类金融资产或其相关行为而进行的各项活动。传统金融服务方大多数经由个国家政府批准的大型中心化机构，提供诸如如资金借贷，货币、权益类资产或交割类资产交易，以及金融衍生工具交易等。中心化机构如银行等提供服务的同时也承担了信用背书的职责。

										通过与传统金融市场的对比，我们很容易发现，去中心化金融（DeFi）是一个极其庞大的概念，包括各类资产借贷与交易、区块链金融资产衍生品市场、及基于去中心化特点的金融衍生品创新业务等，而这些业务之间又会有更多的交互与融合。</p>
                                </div>
                            </div>
                        </div>
                    </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-pad section-bg" id="contact">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-4 res-m-bttm">
				    <div class="section-head-s6">
                        <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">联系我们</h2>
                        <p class="lead animated" data-animate="fadeInUp" data-delay=".2">任何问题？与我们联系，我们会尽快与您联系。</p>
                    </div>
					<ul class="contact-info-alt">
						<li class="animated" data-animate="fadeInUp" data-delay=".3"><em class="fa fa-phone"></em><span>+416 666 6666</span></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".4"><em class="fa fa-envelope"></em><span>info@exchangily.com</span></li>
						<li class="animated" data-animate="fadeInUp" data-delay=".5"><em class="fa fa-paper-plane"></em><span>社交媒体</span></li>
					</ul>
				</div><!-- .col -->
				<div class="col-lg-7">
					<form id="contact-form" class="form-message form-message-s2 form-message-s3 text-left show-error-hint animated" data-animate="fadeInUp" data-delay=".6" action="form/contact.php" method="post">
						<div class="form-results"></div>
						<div class="input-field">
							<input name="contact-name" type="text" placeholder="您的名字" class="input-border required">
						</div>
						<div class="input-field">
							<input name="contact-email" type="email" placeholder="电子邮箱" class="input-border required email">
						</div>
						<div class="input-field">
							<textarea name="contact-message" placeholder="您的留言" class="txtarea input-border required"></textarea>
						</div>
						<input type="text" class="d-none" name="form-anti-honeypot" value="">
						<div class="input-field">
							<button type="submit" class="btn">提交</button>
						</div>
					</form>
				</div><!-- .col -->
			</div>
		</div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-pad-sm partner-section section-bg-alt">
		<div class="container text-center">
			<h4 class="sub-heading animated" data-animate="fadeInUp" data-delay=".1">合作伙伴</h4>
			<ul class="partner-list-s4 d-flex flex-wrap flex-md-nowrap align-items-center justify-content-center logos">
				<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><img src="assets/logo/logo-exchangily.png" alt="partner"></a></li>
				<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><img src="assets/logo/iddock-final.png" alt="partner"></a></li>
				<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><img src="assets/logo/kanban.png" alt="partner"></a></li>
				<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><img src="assets/logo/ecombar-logo.png" alt="partner"></a></li>
				<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><img src="assets/logo/fab.png" alt="partner"></a></li>
				<li class="animated" data-animate="fadeInUp" data-delay=".7"><a href="#"><img src="assets/logo/fa-logo.png" alt="partner"></a></li>
			</ul>
		</div>
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-bg-salvia overlay-shape footer-section footer-salvia section-pad-sm">
	    <div class="container">
	        <div class="row text-center text-sm-left">
	           <!-- <div class="col-lg-6 col-md-6 col-sm-5">
	                <div class="widget-item">
	                    <h5 class="widget-title">Features</h5>
	                    <ul class="widget-list">
	                    </ul>
	                </div>
	            </div>
	             <div class="col-lg-2 col-md-4 col-sm-3">
	                <div class="widget-item">
	                    <h5 class="widget-title">Resources</h5>
	                    <ul class="widget-links">
	                        <li><a href="#">Whitepaper</a></li>
	                        <li><a href="#">One Pager</a></li>
	                        <li><a href="#">Market Research</a></li>
	                    </ul>
	                </div>
	            </div>
	            <div class="col-lg-2 col-md-4 col-sm-3">
	                <div class="widget-item">
	                    <h5 class="widget-title">Company</h5>
	                    <ul class="widget-links">
	                        <li><a href="#">Home</a></li>
	                        <li><a href="#">Tokens</a></li>
	                        <li><a href="#">Team</a></li>
	                        <li><a href="#">Roadmap</a></li>
	                    </ul>
	                </div>
	            </div> -->
	            <div class="col-lg-12">
	                <div class="widget-item">
	                    <div class="widget-about align-items-center">
                            <div><img class="logoimg" alt="logo" src="/assets/logo/biswap-swan.png">
								<div class="logo">Biswap</div></div>
	                        <p>为所有主要代币自动提供流动性的去中心化金融服务！</p>
	                        <ul class="social-link-exp">
                                <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                                <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                                <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                                <li><a href="#"><em class="fab fa-github"></em></a></li>
                                <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                            </ul>
	                    </div>
	                </div>
	            </div><!-- .col -->
	        </div><!-- .row -->
	        <div class="gaps size-1x d-none d-lg-block"></div>
	        <div class="footer-bottom">
                <ul class="footer-list text-center">        
                    <li>&copy; 2021 Biswap & eXcahngily Inc.</li>
                </ul>
	        </div>
	    </div><!-- .container -->
	</div>
	<!-- End Section -->
	
    



	
