.planbody {
    background-color: white;
    color: black;
    font-size: 16px;
    width: 100%;
    border: 1px solid silver;
}

.title {
    width: 100%;
    display: flex;
    font-weight: 400;
    background-color: silver;
}

.titiCol {
    padding: 0 2px;
}

.contnt {
    width: 100%;
    display: flex;
    font-size: 14px;
    font-weight: 200;
}

@media(max-width: 640px) //if more than 400 px
{
    .planbody {
        font-size: 10px;
    }

    .contnt {
        font-size: 10px;
    }
}