<div class="container">
    <mat-button-toggle-group name="tabName" [(ngModel)]="tabName" aria-label="Font Style">
        <mat-button-toggle value="overview">{{"Overview"|translate}}</mat-button-toggle>
        <mat-button-toggle value="pools">{{"Pools"|translate}}</mat-button-toggle>
        <mat-button-toggle value="tokens">{{"Tokens"|translate}}</mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="tabName=='overview'">
        <app-overview></app-overview>
    </div>
    <div *ngIf="tabName=='pools'">
        <app-all-pools></app-all-pools>
    </div>
    <div *ngIf="tabName=='tokens'">
        <app-all-tokens></app-all-tokens>
    </div>
</div>