<div fxLayout="column" fxLayoutAlign="start center" class="swapBody">

    <div class="row maina animated-element" #animatedElement>
        <mat-card class="cardd">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-card-title>{{"Swap"|translate}}</mat-card-title>

                <div class="setting">
                    <button (click)="openSettings()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>settings</mat-icon>
                    </button>
                </div>
            </div>

            <div fxLayoutAlign="start center" class="paddingBottom5">
                <span>{{"Trade tokens in an instant"|translate}}</span>
            </div>

            <hr class="sparater" />

            <div fxLayout="column" fxLayoutGap="10px">
                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <input (keyup)="onKey(firstCoinAmount, true)" #token1 name="firstCoinAmount" type="number"
                        class="tokenAmt" [(ngModel)]="firstCoinAmount" placeholder="0.0" />
                    <div class="tokenSelectButton btn" (click)="openFirstTokenListDialog()">
                        @if(firstToken.symbol != null) {
                        <span class="tokenwithIcon">
                            {{ firstToken.symbol }}
                            @if(firstCoinBalance >= 0) {
                            <span>({{firstCoinBalance}})</span>
                            }
                            <mat-icon>expand_more</mat-icon>
                        </span>
                        } @else {
                        <span class="tokenwithIcon">
                            {{"Select Token"|translate}} <mat-icon>expand_more</mat-icon>
                        </span>
                        }
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button (click)="changeTokens()" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                        <mat-icon>swap_vert</mat-icon>
                    </button>
                </div>

                <div class="coins-input-body" fxLayout="row" fxLayoutAlign="space-between center">
                    <input readonly #token2 name="secondCoinAmount" class="tokenAmt" type="number"
                        [(ngModel)]="secondCoinAmount" placeholder="0.0" />
                    <div class="tokenSelectButton btn" (click)="openSecondTokenListDialog()">
                        @if(secondToken.symbol != null) {
                        <span class="tokenwithIcon">
                            {{ secondToken.symbol }}
                            @if(secondCoinBalance >= 0) {
                            <span>({{secondCoinBalance}})</span>
                            }
                            <mat-icon>expand_more</mat-icon>
                        </span>
                        } @else {
                        <span class="tokenwithIcon">
                            {{"Select Token"|translate}} <mat-icon>expand_more</mat-icon>
                        </span>
                        }
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{perAmountLabel}} </span>
                    <span> {{ perAmount }} </span>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between">
                    <span> {{'Slippage Tolerance'|translate}} </span>
                    <span (click)="editSlippage=true">
                        @if(!editSlippage) {
                        <span>
                            {{ slippage }}
                        </span>
                        }
                        @if(editSlippage==true) {
                        <input type="number" [(ngModel)]="slippage" fxFlex="64px" (blur)="editSlippage=false; onBlur()"
                            (keyup)="keyUp()" title="Slippage Tolerance" placeholder="Enter slippage tolerance" /> %
                        }
                    </span>
                </div>
                @if(slippageErr) {
                <div class="warn">
                    {{"slippageErrMsg"|translate}}
                </div>
                }
            </div>

            <!-- <mat-card-subtitle>Start</mat-card-subtitle> -->
            @if(tokenId && (tokenId!='0x0000000000000000000000000000000000000000')) {
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center" class="mat-card-action">
                @if(!account) {
                <button mat-raised-button color="primary" (click)="connectWallet()">
                    {{"Connect to wallet"|translate}}
                </button>
                } @else {
                @if(!insufficientFund) {
                <button mat-raised-button color="primary" (click)="swapFunction()">
                    {{"Swap"|translate}}{{(priceImpact > 5) ? ' Anyway' : ''}}</button>
                } @else {
                <button mat-raised-button color="primary" disabled>Insufficent
                    {{firstToken.tickerName}} balance</button>
                }
                }
            </mat-card-actions>
            }
        </mat-card>
    </div>

    <div class="row">
        @if(liquidityPrividerFee) {
        <div class="paddingTop20 your-position mb-3">
            <mat-card id="position-mat-card">
                <div>
                    @if(minimumReceived) {
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Minimum received"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{minimumReceived}}</span>
                        </div>
                    </div>
                    }

                    @if(maximumSold) {
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Maximum sold"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{maximumSold}}</span>
                        </div>
                    </div>
                    }

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Price impact"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span [class.text-danger]="priceImpact > 5">{{priceImpact}}%</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Liquidity Provider Fee"|translate}} :</span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>{{liquidityPrividerFee}} {{liquidityPrividerFeeCoin}}</span>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="padding5">
                        <span> {{"Route"|translate}}: </span>
                        <div fxLayout="row" fxLayoutAlign="center center">
                            @for(item of route; track item) {
                            <span>
                                {{item}}
                                @if($index != route.length - 1) {
                                <span>&nbsp;</span>
                                }
                            </span>
                            }
                        </div>
                    </div>

                </div>
            </mat-card>
        </div>
        }

        @if(txHashes && txHashes.length > 0) {
        <div>
            @for(txHash of txHashes; track txHash) {
            <div>
                <a [href]="txHash" target="_blank" [textContent]="txHash"> </a>
            </div>
            }
        </div>
        }
        @if(error) {
        <div>
            <p class="text-danger">{{error}}</p>
        </div>
        }
        @if(tokenId=='0x0000000000000000000000000000000000000000') {
        <div class="nopair black mt-2">
            {{"No liquidity for this pair"|translate}}.
        </div>
        }
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>