.swapBody {
    padding-bottom: 20px;
}

.maina {
    margin-top: 4rem;
}

.cardd {
    min-width: 360px;
    width: 100%;
}

.coins-input-body {
    border-radius: 4px;
    justify-content: center;
    background-color: rgb(218, 216, 216);
    color: black;
    padding: 1rem;
}

.custom-dialog-container {
    border-radius: 5px;
    overflow: hidden !important;
    background-color: white;
    color: black;
    padding: 0px;
}

.tokenAmt {
    width: 50%;
    height: 40px;
    border-radius: 4px;
    padding-left: 0.5rem;
    border: 1px solid gray;
    box-shadow: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
    margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field {
    label {
        font-size: 32px;
    }
}

::ng-deep .mat-card {
    border-radius: 8px;
    background-image: linear-gradient(37deg, #bb91f9, #3f5ac5);
    min-width: 350px;
}

.sparater {
    margin: 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.mat-card-action {
    padding: 10px;

    button {
        width: 100%;
        padding: 5px;
        border-radius: 20px;
    }
}

.nopair {
    font-size: small;
    color: orange;
    padding: 1rem;
}

.tokenSelectButton {
    width: calc(50% - 8px);
    margin-left: 8px;
    cursor: pointer;
    font-size: 14px;
    color: black;
    border-radius: 4px;
    border: 1px solid gray;
}

.tokenwithIcon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.title1 {
    max-width: 1280px;
    margin-top: 100px;
}

.title2 {
    margin-bottom: 60px;
}

@media(max-width: 1920px) {

    .title2 {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media(max-width: 1280px) {
    .title2 {
        margin-top: 52px;
        margin-bottom: 60px;
    }
}

@media(max-width: 1024px) {
    .title2 {
        margin-top: 40px;
        margin-bottom: 50px;
    }
}

@media(max-width: 640px) {
    .maina {
        width: 100vw;
        margin-top: 1rem;
    }

    mat-card-title {
        font-size: 18px;
    }

    .cardd {
        box-shadow: none;
    }

    .coins-input-body {
        background-color: #f0f0f0;
        border: none;
        box-shadow: none;
    }

    ::ng-deep .mat-card {
        background-image: none;
        color: black;
        background-color: white;
        border: none;
        box-shadow: none;
        font-size: 12px;
        width: 100%;
    }

    .tokenSelectButton {
        width: 50%;
        font-size: 12px;
    }

    .tokenwithIcon {
        width: 100%;
        font-size: 12px;
        font-weight: 500;
    }

    .title2 {
        margin-top: 20px;
        margin-bottom: 30px;
    }

}