<div class="rounded-card">
    <div class="container">
        <div class="row py-2">
            <div class="col col-2">
                <b>ACTION</b>
            </div>
            <div class="col col-2">
                <b>TOTAL VALUE</b>
            </div>
            <div class="col col-2">
                <b>TOKEN AMOUNT</b>
            </div>
            <div class="col col-2">
                <b>TOKEN AMOUNT</b>
            </div>
            <div class="col col-2">
                <b>ACCOUNT</b>
            </div>
            <div class="col col-2">
                <b>TIME</b>
            </div>
        </div>

        <div class="row table-data py-2" *ngFor="let transaction of transactions;let i = index">
            <div class="col col-2">
                {{transaction.name}}
            </div>
            <div class="col col-2">
                {{transaction.amountUSD}}
            </div>
            <div class="col col-2">
                {{transaction.amount0}}
            </div>
            <div class="col col-2">
                {{transaction.amount1}}
            </div>
            <div class="col col-2">
                {{toIdentityString(transaction.sender ? transaction.sender  : transaction.account)}}
            </div>
            <div class="col col-2">
                {{transaction.time}}
            </div>
        </div>
    </div>
</div>