<!-- Footer -->
<footer class="text-center text-lg-start bg-dark footer">
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <span routerLink="/">
                <img class="header-logo" src="/assets/images/biswap-256w.png"  alt="image">
              </span>
                    <p>
                        {{"BiswapProtcl" | translate}}
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Social Media
                    </h6>
                    <p>
                        <a href="https://www.facebook.com/BestDEX" class="text-reset">Facebook</a>
                    </p>
                    <p>
                        <a href="https://twitter.com/exchangilydex" class="text-reset">Twitter</a>
                    </p>
                    <p>
                        <a href="https://t.me/exchangily_chat" class="text-reset">Telegram</a>
                    </p>
                    <p>
                        <a href="https://www.tiktok.com/@exchangilydex" class="text-reset">Tiktok</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a routerLink="/swap" class="text-reset">Swap</a>
                    </p>
                    <p>
                        <a routerLink="/pool" class="text-reset">Liquidity</a>
                    </p>
                    <p>
                        <a routerLink="/staking" class="text-reset">Staking</a>
                    </p>
                    <p>
                        <a routerLink="/reward" class="text-reset">Rewards</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                        service@biswap.com
                    </p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © {{year}} Copyright
        <a class="text-reset fw-bold" href="https://biswap.com/">biswap.com</a> - Product of Exchangily LLC.
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->