<div class="rounded-card">
    <div class="container">
        <div class="row py-2">
            <div class="col col-2">
                <b>#</b>
            </div>
            <div class="col col-2">
                <b>Pool</b>
            </div>

            <div class="col col-2">
                <b>Volume 24h</b>
            </div>
            <div class="col col-2">
                <b>LP Reward Fee</b>
            </div>
            <div class="col col-2">
                <b>Lp Reward APR</b>
            </div>
            <div class="col col-2">
                <b>Liquidity</b>
            </div>
        </div>

        <div class="row table-data py-2" *ngFor="let pair of pairs">
            <div class="col col-2">
                1
            </div>
            <div class="col col-2">
                Name
            </div>
            <div class="col col-2">
                Price
            </div>
            <div class="col col-2">
                Price change
            </div>
            <div class="col col-2">
                Volume 24h
            </div>
            <div class="col col-2">
                Liquidity
            </div>
        </div>
    </div>
</div>