.swapBody {
    min-width: 25%;
    
    padding: 2rem 1rem;
    // background: url("/assets/images/gradient2-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100vh;
    // background-color: #eaebec;
}

::ng-deep .mat-card {
    border-radius: 12px !important;
    background-image: linear-gradient(37deg, #bb91f9, #3f5ac5);
    min-width: 350px;
}

.coins-input-body {
    border: 1px solid gray;
    border-radius: 5px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
    margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field label {
    font-size: 40px;
}

.sparater {
    margin: 10px -20px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.emty-liquidity {
    background-color: black;
    padding: 30px;
    margin: 10px -16px 10px;
}

.mat-card-action {
    padding: 10px 10px;
    button {
        width: 100%;
        padding: 5px 5px;
        border-radius: 20px;
    }
}

.exist-liquddity {
    margin-top: 15px;
    border-radius: 20px;
}

::ng-deep .mat-expansion-panel-header-description {
    flex-grow: 0 !important;
}

.action-buttons {
    width: 125px;
    border-radius: 10px;
}

.title1 {
    max-width: 1280px;
    margin: 50px 0;
    text-shadow: 3px 3px gray;
}

h1 {
    font-weight: 500;
}

@media(max-width: 600px) //if more than 400 px
{
    ::ng-deep .mat-card {
        border-radius: 12px !important;
        background-image: none;
        background-color: black;
        min-width: 350px;
    }
    
    h1 {
        font-size: 18px
    }
    h2 {
        font-size: 12px
    }
    .title1 {
        margin-top: 48px;
        margin-bottom: 38px;
    }
}

@media(min-width: 400px) //if more than 400 px
{
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 20px
    }
    .title1 {
        margin-top: 48px;
        margin-bottom: 38px;
    }
}

@media(min-width: 600px) //if more than 400 px
{
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 12px;
    }
    .title1 {
        margin-top: 68px;
        margin-bottom: 56px;
    }
}

@media(min-width: 960px) //if more than 400 px
{
    h1 {
        font-size: 64px
    }
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 18px;
    }
    .title1 {
        margin-top: 100px;
        margin-bottom: 80px;
    }
}

@media(min-width: 1280px) //if more than 400 px
{
    h1 {
        font-size: 50px
    }
    h2 {
        font-size: 42px
    }
    h3 {
        font-size: 24px;
    }
    .title1 {
        margin: 100px 0 50px;
    }
    .mat-card {
        width: 500px;
    }
}

@media(min-width: 1920px) {
    h1 {
        font-size: 100px
    }
    h2 {
        font-size: 64px
    }
    h3 {
        font-size: 36px;
    }
    .title1 {
        margin-top: 200px;
        margin-bottom: 160px;
    }
    .mat-card {
        width: 560px;
    }
}