.swapBody {
    min-width: 25%;
    
    padding: 2rem 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

::ng-deep .mat-card {
    border-radius: 8px;
    background-image: linear-gradient(37deg, #bb91f9, #3f5ac5);
    min-width: 350px;
}

.coins-input-body {
    border: 1px solid gray;
    border-radius: 5px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

.submitButton {
   // margin-left: 12rem;
    margin-bottom: 0;
}

::ng-deep .mat-form-field label {
   // font-size: 40px;
}

.sparater {
    margin: 10px -20px 10px;
    border: 0;
    border-top: 1px solid #c9c7c7;
    opacity: 0.2;
}

.emty-liquidity {
    background-color: white;
    color: black;
    padding: 30px;
    margin: 10px -16px 10px;
}

.mat-card-action {
    padding: 10px 10px;
    button {
        width: 100%;
        padding: 5px 5px;
        border-radius: 20px;
    }
}

.exist-liquddity {
    margin-top: 15px;
    border-radius: 20px;
}

.action-buttons {
    width: 125px;
    border-radius: 10px;
}

h1 {
    font-weight: 500;
}

@media(max-width: 1920px) {
    .mat-card {
        max-width: 560px;
    }
}

@media(max-width: 1280px) //if more than 400 px
{
    .mat-card {
        max-width: 500px;
    }
}

@media(max-width: 960px) //if more than 400 px
{
}

@media(max-width: 640px) //if more than 400 px
{
    .cardd {
        box-shadow: none;
    }

    .coins-input-body {
        background-color: #f0f0f0;
        border: none;
        box-shadow: none;
    }

    ::ng-deep .mat-card {
        border-radius: 8px;
        background-image: none;
        background-color: white;
        color: black;
        min-width: 350px;
        border: none;
        box-shadow: none;
      //  width: 100%;
    }

    .exist-liquddity {
        width: 90%;
        margin: 4px auto;
    }
}


@media(max-width: 400px) //if more than 400 px
{
}
