<mat-nav-list>
    <a mat-list-item routerLink="/swap" (click)="onSidenavClose()">
        <mat-icon>autorenew</mat-icon><span class="nav-caption">Swap</span>
    </a>

    <a mat-list-item routerLink="/pool" (click)="onSidenavClose()">
        <mat-icon>waves</mat-icon><span class="nav-caption">Liquidity</span>
    </a>

    <a mat-list-item routerLink="/staking" (click)="onSidenavClose()">
        <mat-icon>receipt</mat-icon><span class="nav-caption">Staking</span>
    </a>

    <a mat-list-item routerLink="/reward" (click)="onSidenavClose()">
        <mat-icon>card_giftcard</mat-icon><span class="nav-caption">Rewards</span>
    </a>

    <a mat-list-item routerLink="/info" (click)="onSidenavClose()">
        <mat-icon>info</mat-icon><span class="nav-caption">Info</span>
    </a>

</mat-nav-list>