/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.handcursor {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.padding5 {
    padding: 5px;
}

.paddingBottom5 {
    padding-bottom: 5px;
}

.paddingBottom10 {
    padding-bottom: 10px;
}

.paddingRight20 {
    padding-right: 20px;
}

.paddingTop5 {
    padding-top: 5px;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingTop10 {
    padding-top: 10px;
}

.marginTop3 {
    margin-top: 3px;
}

.marginTop20 {
    margin-top: 20px;
}

.marginBottom3 {
    margin-bottom: 3px;
}

.margin0 {
    margin: 0px !important;
}

.warn {
    color: orange;
}

.black {
    color: black;
}

input {
    font-size: small;
}

