.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

div {
    h4 {
        color: white;
    }
}

@media screen and (max-width: 640px) {
    .footer {
        display: none;
    }
}