<footer class="app-footer">
  <div class="footer-shell">
    <div class="footer-brand">
      <img class="footer-logo" src="/assets/images/biswap-256w.png" alt="Biswap" />
      <div>
        <div class="footer-title">Biswap</div>
        <p>{{"BiswapProtcl" | translate}}</p>
      </div>
    </div>

    <div class="footer-links">
      <div>
        <h4>{{"Social Media"|translate}}</h4>
        <a href="https://www.facebook.com/BestDEX" target="_blank" rel="noopener">Facebook</a>
        <a href="https://twitter.com/exchangilydex" target="_blank" rel="noopener">X (Twitter)</a>
        <a href="https://t.me/exchangily_chat" target="_blank" rel="noopener">Telegram</a>
        <a href="https://www.tiktok.com/@exchangilydex" target="_blank" rel="noopener">TikTok</a>
      </div>
      <div>
        <h4>{{"Useful links"|translate}}</h4>
        <a routerLink="/swap">{{"Swap"|translate}}</a>
        <a routerLink="/pool">{{"Liquidity"|translate}}</a>
        <a routerLink="/staking">{{"Staking"|translate}}</a>
        <a routerLink="/reward">{{"Rewards"|translate}}</a>
      </div>
      <div>
        <h4>{{"Contact"|translate}}</h4>
        <span>service&#64;biswap.com</span>
      </div>
    </div>
  </div>

  <div class="footer-base">
    <span>© {{year}} Biswap</span>
    <a href="https://biswap.com/" target="_blank" rel="noopener">biswap.com</a>
  </div>
</footer>
